<head>
    <title>FullStory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- META PROPS FOR FACEBOOK SHARE BUTTON -->
    <meta property="og:url"           content="https://thefullstory.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="FullStory" />
    <meta property="og:description"   content="put the news in perspective" />
    <meta property="og:image"         content="https://thefullstory.herokuapp.com/" />
</head>