<div id="social-media">
	<div class="fb-share-button social-media-button-container" data-href="https://thefullstory.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true">
		<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthefullstory.herokuapp.com%2F&amp;src=sdkpreparse">Share</a>
	</div><p />
	<div class="social-media-button-container">
		<a href="https://twitter.com/intent/tweet?text=Put%20the%20news%20in%20perspective%20with%20FullStory&hashtags=thefullstory,media" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
	</div>
</div>