<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
  <% include ./partials/banner %>
  <div class="container">
  <center>
  <div class="col-sm-12" class="source">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-justify">During the 2016 presidential election, <small>there was a lot of talk about the political bubbles we all find ourselves in. This website is an attempt to burst that bubble. I wanted to create a simple tool to show the way in which liberal and conservative news cover the same topics differently, how they stress certain aspects and ignore others based on their political affilication. I also wanted to show which stories get the most attention on the respective websites.</small></h4>

    <h4 class="text-justify"><small>For this early prototype, I based my selection of left and right news sources on <a href="https://www.allsides.com/media-bias/about-bias" target="_top">AllSide’s bias rating</a>. The Associated Press was included as a centrist news source.</small></h4>

    <h4 class="text-justify"><small>I hope this website helps readers navigate the news and be more aware of the media bias. I also hope that journalists find it useful in their work and to be reminded of their own biases.</small></h4>

    <h4 class="text-justify"><a href="mailto:thorstenwschroeder@gmail.com?Subject=Hello%20again" target="_top">Contact Me.</a></h4>

</div>
</center>
</div>
</body>
</html>