<!DOCTYPE html>
<html>
<head>
	<title>FullStory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  	<div class="container">
      <center> <a href='/'><h1>FullStory<small> put the news in perspective.</small></h1></a></center>         
      <br>
      <br>
        <div class="row"> 

            <div class="col-sm-12">
            <center>
        <br>
    	<br>
    	<br>
            <h2>Oops! Something went wrong. Please try again!</h2>
        <br>
    	<br>
   		<br>
              <form action="/search" method="POST" class="form-inline">
                  <div class="form-group">
                    <label for="search">Or try searching for a topic:</label>
                    <input type="text" class="form-control" name="search">
                  </div>
                  <button type="submit" id="submit" class="btn btn-default">Submit</button>
              </form>
              </center>
            </div>

        </div>
    

        

        
    


          
	</div>

</body>
</html>
