body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h4 {
    text-align: justify;
}

p {
    text-align: justify;
}

img {
    height: 200px;
    width: 200px;

span {

}


